
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.container{
    max-width: 1100px;
}
header{
    background-image: url("../assets/img/reg.jpg");
    background-size: cover;
    height: 570px; 
    position: relative;
}

.title-color{
    color: red;
}

.title{
    color:whitesmoke;
    font-size: 45px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.btn{
    background-color: red;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding-left:20px ;
    padding-right: 20px;
}

.logo{
    width: 140px;
    height: 120px;
    object-fit:contain;
}

#row-servicios{
    background-color:#54575c;
}

.row{
    margin: 0;
}

#row-servicios img{
    border-radius: 70%;
}

#row-servicios p{
    text-align: justify;
    padding: 10px;
}

.col img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#row-nosotros{
    background-image: url("../assets/img/fondo\ 2.jpg");
    background-size: cover;
    padding-top: 100px importat !important;
    padding-bottom: 100px !important;
}

#row-nosotros img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#row-nosotros p{
    font-size: 14px;
    color: whitesmoke;
}

#row-inmuebles {
    background-image:url("../assets/img/fondo\ 3.jpg");
    background-size:cover;
    position:relative;
}

#row-conctato{
    background-image:url("../assets/img/fondo\ 4.jpg");
    background-size: cover;
    position: relative;
  
}
#row-conctato img{
    background-size:cover;
    width:min-content;
    height:min-content;
    object-fit: cover;
}

@media(max-width:992px){
    .navbar-nav{
        background-color: #053c72;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        padding-left: 20px;
    }
}
nav{
    z-index: 100;
}
